.body {
  background-color: rgb(23, 23, 26);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh;
  width: 100vw; */
}

.header h1 {
  padding-bottom: 10px;
}

.content p {
  text-align: justify;
}

.left img {
  width: 100%;
}

.right h1 {
  font-size: 52px;
  font-weight: bold;
  letter-spacing: 10px;
}

.right .logos img {
  margin: 20px;
  height: 40px;
}

.interest img {
  filter: invert(1);
  height: 20px;
}
