.body {
  background-color: rgb(246, 247, 243);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh;
  width: 100vw; */
}

.header h1 {
  font-family: "Figtree", sans-serif;
  font-size: 24px;
  padding-bottom: 10px;
}

.content h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 48px;
  color: black;
}

.content p {
  font-family: "Roboto Mono", monospace;
  /* font-size: 48px; */
  color: black;
}

.left img {
  width: 100%;
}

.right b {
  font-weight: bold;
}

.right .logos img {
  margin: 20px;
  height: 50px;
}
