.body {
  background-color: rgb(23, 23, 26);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  width: 100vw;
}

.contact input,
.contact textarea {
  background: transparent;
  font-family: "Roboto Mono", monospace !important;
  font-size: 14px !important;
  color: #f6f6f3;
  padding: 10px;
  width: 60%;
  border: none;
  border-bottom: 1px solid #f6f6f3;
}

.contact button {
  background: #f6f6f3;
  font-family: "Figtree", sans-serif !important;
  font-size: 14px !important;
  height: 35px;
  width: 120px;
  border: 1px solid black;
  border-radius: 20px !important;
}

.social a {
  text-decoration: none;
}

.social img {
  filter: invert(1);
  height: 30px;
  width: 30px;
}

/* media query */
@media (max-width: 992px) {
  .body {
    height: 100%;
    width: 100%;
  }

  .contact input,
  .contact textarea {
    width: 70%;
  }
}
