.footer {
  background-color: rgb(246, 247, 243, 0.8);
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
}

.footer img {
  height: 15px;
  width: 15px;
}
