.footer {
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  position: fixed;
}

.footer img {
  height: 15px;
  width: 15px;
}
