.container {
  column-count: 3;
  column-gap: 10px;
}

.container img {
  max-width: 100%;
  margin-bottom: 10px;
  display: block;
}

/* media query */
@media (max-width: 576px) {
  .container {
    column-count: 2;
  }
}
