.body {
  background-color: rgb(23, 23, 26);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  width: 100vw;
}

header h1 {
  padding-bottom: 10px;
}

.content {
  column-count: 4;
  column-gap: 12px;
}

.content img {
  max-width: 100%;
  margin-bottom: 10px;
  display: block;
}

/* media query */
@media (max-width: 992px) {
  .content {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .content {
    column-count: 2;
  }
}
