.body {
  background-color: rgb(23, 23, 26);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.header h1 {
  padding-bottom: 10px;
}
