@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.screen {
  background-color: white;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
}

.bacrground {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 250px;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  backdrop-filter: blur(20px);
}

h1 {
  font-family: "Caveat", cursive;
  font-size: 128px;
  color: black;
}
