@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,100&display=swap");

.background {
  background-color: black;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
}

.box {
  /* background-color: rgb(255, 255, 255, 0.2); */
  /* backdrop-filter: blur(5px); */
  height: 200px;
  width: 200px;
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: white;
  margin: 0;
  padding: 5px 15px;
}
