.navigation {
  background-color: rgba(23, 23, 26);
  backdrop-filter: blur(10px);
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
}

.navigation img {
  filter: invert(1);
  height: 50px;
  width: 50px;
}

.navigation span {
  filter: invert(1);
}

.menus li {
  font-size: 18px;
}

@media (max-width: 575px) {
  .menus li {
    justify-content: center;
    display: flex;
  }
}
