.body {
  background-color: rgb(23, 23, 26);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.header h1 {
  padding-bottom: 10px;
}

.content p {
  text-align: justify;
}

.card {
  background: #f6f6f3;
  font-family: "Roboto Mono", monospace;
  font-size: 14px !important;
  color: black;
  /* height: 200px; */
  width: 100%;
  border: 1px solid black;
  border-radius: 20px !important;
}

.link {
  display: flex;
  align-items: center;
}

.link a {
  padding-left: 10px;
}
